#pad {height:200px;} /* this demo only */
#nav{
	width:1000px;		
}
#nav, #nav ul {
	padding:0; 
	margin:0 auto; 
	list-style:none; 
	background:#f4e8d8; 
}
#nav {position:relative; z-index:50;}
#nav ul {display:none;}

#nav li {
	float:left; 
	position:relative;	
}
#nav li a {
	text-decoration:none; 	
}
#nav li b {display:block; padding:0 20px 0 10px; cursor:pointer; height:30px; line-height:30px; float:left; background:url(list-back.gif) center top;
	text-transform:uppercase; 
	color:#51002c; 
	font-size:14px; 
	font-weight:bold;
}
#nav li.first b {background-position:left top;}
#nav li.last b {background-position:right top; }
#nav li a b.clicked {	
	background-color:#f8f5f1;
	border:1px solid #e2c8ce;	
	height:60px;
	z-index:50;
	margin-bottom:-40px;
	background-image:url(../images/arrow.jpg);
	background-repeat:no-repeat;
	background-position:bottom center;
}

#nav li ul {position:absolute; font-size:12px; left:0; top:63px; height:auto; float:left; background:#f8f5f1; padding:2px; border:1px solid #e2c8ce;}
#nav li ul.content {
	width:280px;
	text-align:left;
}
#nav li ul.product {
	text-align:left;
}
#nav li ul.product li.columns{	
	float:left; 
	width:171px;
	text-transform:none;	
}


#nav li ul li {float:none;  padding:0 5px; padding-bottom:5px; }
#nav li ul li a {color:#666;}
#nav li ul li a:hover {color:#000;}
#nav li ul li:hover {background:#f9c4c1; }
#nav li ul li:hover a {color:#000; }